body {
    background: rgb(22, 179, 252);
    background-image: url(../images/ooo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: rgb(255, 217, 0);
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 5rem;

}

#title-image {
    max-width: 70%;
    margin-bottom: 0;
}

#title-text{
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 196, 0);
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 2em;
}

#display-image {
    margin-bottom: 2rem;
    max-height: 25rem;
}

#instructions {
    margin-bottom: 3rem;
}

#openKeyboard {
    margin-top: 1.5rem;
}

@media only screen and (min-width: 812px) {
    #openKeyboard {
        display: none;
    }
}